.content {}

.footer-widget-area {
    margin-bottom: 35px;
}

.main-nav {
<<<<<<< HEAD
    padding: px 10px 10px;
=======
    background-color: #4778FE
}

.thicker {
    font-weight: 900;
}

.lightblue {
    color: #52CCE4;
}

.need {
    color: #313131;
    -webkit-animation: colorchange 30s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: #52CCE4;
    }
    10% {
        color: #4270FA;
    }
    20% {
        color: #52CCE4;
    }
    30% {
        color: #4270FA;
    }
    40% {
        color: #52CCE4;
    }
    50% {
        color: #4270FA;
    }
    60% {
        color: #52CCE4;
    }
    70% {
        color: #4270FA;
    }
    80% {
        color: #52CCE4;
    }
    90% {
        color: #4270FA;
    }
    100% {
        color: #52CCE4;
    }
>>>>>>> f9364f854098f73bec7598ddfbad4d0e094fb9fc
}
